<div class="profile_content">
  <%= semantic_form_for [:artist, @profile], :html => {:class => 'form-horizontal', multipart: true} do |f| %>
      <div class="control-group">
        PROFILE PICTURE <%= image_tag @profile.remote_avatar_url %>
      </div>
      <div class="control-group">
        ARTIST NAME <%= f.text_field :name %>
      </div>
      <div class="control-group">
        USER NAME  <%= f.text_field :user_name %>
        <br>

        <p class="dialog"> Find your public profile page at http://gigpoint/username</p>
      </div>
      <%= f.fields_for :artist do |far| %>
          <div class="control-group">
            BOOKING CONTRACT  <%= far.text_field :booking_contact %>
            <br>

            <p class="dialog"> Can be either a website or email address</p>
          </div>
      <% end %>
      <div class="control-group">
        WEBSITE <%= f.text_field :website_url %>
      </div>
      <div class="control-group">
        UPLOAD PHOTO <%= f.file_field :photo, :style => 'width: 217px;' %>
      </div>
      <div class="control-group">
        FACEBOOK PAGE
        <div class="fan-page-group">
          <% current_user.pages.each do |page| %>
              <%= check_box_tag "profile[selected_page_id][]", page.id, @profile.selected_page_id.include?(page.id.to_s) %><%= page.name %>
          <% end %>
        </div>
      </div>
      <div class="control-group">
        BIO <%= f.text_area :bio, :size => '25x10' %>
      </div>

      <div class="form-actions">
        <%= f.submit nil, :class => 'btn btn-primary' %>
      </div>
  <% end %>
</div>

<div class="connect_twitter">
  <p class="title">Connections</p>

  <div class="btn_connect_twitter">
    <% if current_user.have_twitter_credentials? %>
        <%= link_to "Connect with Twitter", "#", :class => "btn", :disabled => true %>
    <% else %>
        <%= link_to "Connect with Twitter", user_omniauth_authorize_path("twitter"), :class => "btn" %>
    <% end %>
  </div>
  <p class="dialog">Announce gigs to your fans on Facebook and Twitter</p>
</div>