<%= form_for [:artist, @profile], :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :user_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :user_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :website_url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :website_url, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :photo, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :photo, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :rating, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :rating, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%#= link_to t('.cancel', :default => t("helpers.links.cancel")),
                profiles_path, :class => 'btn' %>
  </div>
<% end %>
