<div class="profile_content">
  <%= semantic_form_for [:artist, @profile], :html => {:class => 'form-horizontal', multipart: true} do |f| %>
      <div class="control-group">
        <div class="controls">
          <%= f.input :name, :class => 'text_field' %>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <%= f.input :user_name, :class => 'text_field' %>
          <p class="dialog"> Find your public profile page at http://gigpoint/username</p>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <%= f.input :gender, as: :select, collection: ['Male', 'Female'] %>
        </div>
      </div>
      <%= f.fields_for :artist do |artist| %>
          <div class="control-group">
            <div class="controls">
              <%= artist.input :booking_contact, :class => 'text_field' %>
              <p class="dialog"> Can be either a website or email address</p>
            </div>
          </div>
      <% end %>
      <div class="control-group">
        <div class="controls">
          <%= f.input :website_url, :class => 'text_field' %>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <%= f.input :photo, :class => 'text_field' %>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <%#= f.input :selected_page_id, as: :select, collection: current_user.pages    %>
        </div>
      </div>
      <p>Or</p>

      <div class="control-group">
        <div class="controls">
          <%= image_tag @profile.remote_avatar_url %>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <%= f.input :bio, :class => 'text_field' %>
        </div>
      </div>

      <div class="form-actions">
        <%= f.submit nil, :class => 'btn btn-primary' %>
        <%#= link_to t('.cancel', :default => t("helpers.links.cancel")),
                profiles_path, :class => 'btn' %>
      </div>
  <% end %>
</div>

<div class="connect_twitter">
  <p class="title">Connections</p>

  <div class="btn_connect_twitter">
    <a href="/users/auth/twitter" class="btn">Connect with Twitter</a>
  </div>
  <p class="dialog">Announce gigs to your fans on Facebook and Twitter</p>
</div>