<%= semantic_form_for [:admin, @artist] do |f| %>
    <%= f.inputs do %>
        <% f.object.profile || f.object.build_profile %>

        <%= f.fields_for :profile do |pf| %>
            <%= pf.input :name, :wrapper_html => {:style => 'width: 56%'} %>
            <%= pf.input :user_name, :wrapper_html => {:style => 'width: 56%'} %>
        <% end %>
        <%= f.input :email, :wrapper_html => {:style => 'width: 56%'} %>
        <%= f.fields_for :profile do |pf| %>
            <li style="margin-left: 150px;">
              <%= image_tag f.object.profile.photo.url(:thumb) %>
            </li>
            <%= pf.input :photo, :wrapper_html => {:style => 'width: 56%'} %>
            <%= pf.input :phone, :wrapper_html => {:style => 'width: 56%'} %>
            <%= pf.input :website_url, :wrapper_html => {:style => 'width: 56%'} %>
            <%= pf.input :bio, :input_html => {:rows => 10}, :wrapper_html => {:style => 'width: 56%'} %>
        <% end %>
        <%= f.input :booking, :wrapper_html => {:style => 'width: 56%'} %>
        <%= f.input :description, :input_html => {:rows => 10}, :wrapper_html => {:style => 'width: 56%'} %>
    <% end %>

    <%= f.actions do %>
        <li class="cancel"><%= link_to 'Cancel', :back %></li>
        <%= f.action :submit %>
    <% end %>
<% end %>