<h2>Profile</h2>
<div class="fieldset">
  <p><%= image_tag @user.profile_picture %></p>
  <p>Name: <%= @user.user_profile.name %></p>
  <p>Email: <%= @user.email %></p>
  <p>Gender: <%= @user.user_profile.gender.humanize %></p>
  <p>Address: <%= @user.user_profile.address %></p>
  <p>About: <%= @user.user_profile.bio %></p>
  <p>website_url: <%= @user.user_profile.website_url %></p>
  <p>website_url: <%= @user.user_profile.inspect %></p>
  <p>Member Since: <%= time_ago_in_words(@user.created_at) %> ago</p>
</div>