<h3><%= link_to @user.try(:name), artist_path(@user.try(:artist).try(:id)), :class => "btn-link btn-info" %></h3>
<%= image_tag @user.avatar, width: 100, height: 100 %> <br>
<% if @user.has_artist_profile? %>
    <%= link_to "edit profile", edit_artist_profile_path(@user.artist.id, @user.artist.profile.id) %>
<% else %>
    <%= link_to "Create Profile", new_artist_path %>
<% end %>

<h3 class="blog-title">Upcoming Gigs</h3>
<%= render :partial => 'gigs/gigs_list', :locals => {:gigs => current_artist.gigs.up_coming_gigs} %>

<%= link_to 'New Gig', new_gig_path, :class => "btn btn-big btn-primary" %>

<h3 class="blog-title">Past Gigs</h3>
<%= render :partial => 'gigs/gigs_list', :locals => {:gigs => current_artist.gigs.past_gigs} %>






