<%= semantic_form_for [:admin, @venue] do |f| %>
    <%= f.inputs do %>
        <%= f.input :name, :wrapper_html => {:style => 'width: 56%'} %>
        <%= f.input :address1, :wrapper_html => {:style => 'width: 56%'} %>
        <%= f.input :address2, :wrapper_html => {:style => 'width: 56%'} %> <br><br>
        <%= f.input :address3, :wrapper_html => {:style => 'width: 56%'} %>
        <%= f.input :address4, :wrapper_html => {:style => 'width: 56%'} %>
        <%= f.input :city, :wrapper_html => {:style => 'width: 56%'} %>
        <%= f.input :state, :wrapper_html => {:style => 'width: 56%'} %>
        <%= f.input :postcode, :wrapper_html => {:style => 'width: 56%'} %>
        <%= f.input :country, :wrapper_html => {:style => 'width: 56%'} %>
        <%= f.input :description, :input_html => {:rows => 10}, :wrapper_html => {:style => 'width: 56%'} %>
        <li><label>Select From Map</label></li>
        <li style="margin-left: 13%">
          <%= f.gmap_coordinate_picker :default_coordinates => @venue.default_coordinates.nil? ? user_coordinates_from_ip : @venue.default_coordinates %>
        </li>
    <% end %>

    <%= f.actions do %>
        <li class="cancel"><%= link_to 'Cancel', :back %></li>
        <%= f.action :submit %>
    <% end %>
<% end %>