<%= semantic_form_for @gig, :html => {multipart: true} do |f| %>
    <p>
      <%= f.label :artist_ids, "Artist Name" %>
      <%= f.select :artist_ids, options_for_select(Artist.by_user_id(current_user.id).collect { |ar| [ar.profile.name, ar.id] }) %>
    </p>

    <p>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label :url %>
      <%= f.text_field :url %>
    </p>

    <div id="datetimepicker1" class="input-append date">
      <p>
        <%= f.label :starts_at %>
        <%= f.text_field :starts_at, :'data-format' => 'dd/MM/yyyy hh:mm:ss' %>
        <span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
      </p>
    </div>

    <p>
      ADMISSION
      <%= f.label :free_entry %>
      <%= f.check_box :free_entry, :checked => @gig.gig_is_free? ? true : false %>  <br>
    </p>

    <div class="publish-div">
      <%= f.fields_for :schedule_post do |sp| %>
          <div>
            <p style="font-size: 14px; font-weight: bold;"> Post To </p>
            <%= sp.check_box :post_facebook %> Facebook
            <%= sp.check_box :post_twitter %> Twitter <br>
          </div>
          <div class="time-schedule">
            <p style="font-size: 14px; font-weight: bold;"> Make a Post : </p>
            <%= sp.check_box :post_immediately %> immediately <br>
            <%= sp.check_box :post_a_week_before %> a week before <br>
            <%= sp.check_box :post_a_day_before %> a day before <br>
            <%= sp.check_box :post_the_day_off %> the day off <br>
          </div>
      <% end %>
    </div>

    <%= render :partial => 'venues/form', :locals => {:f => f} %>



    <%= f.hidden_field :creator_id, :value => current_user.id rescue nil %>
    <%= f.hidden_field :post_on_time_line %>
    <%= f.hidden_field :post_in_groups %>
    <div class="form-actions">
      <a href="#ModalAccessEvent" role="button" class="btn ModalAccessEvent" data-toggle="modal">Allow Create
        Event</a>
      <%= f.submit nil, :class => 'btn btn-primary' %>
    </div>
<% end %>




<script type="text/javascript">
    $(function () {
        $('#post_on_time_line').mousedown(function () {
            if (!$(this).is(':checked')) {
                this.checked = confirm("Are you sure?");
                $(this).trigger("change");
                if ($(this).is(':checked')) {
                    $('#gig_post_on_time_line').val(1);
                }
            }
            else {
                $('#gig_post_on_time_line').val(0);
            }
        });
    });

    $(document).ready(function () {
        if ($('#gig_post_on_time_line').val == "1") {
            $("#post_on_time_line").prop("checked", true);
        }
    });

    $(function () {
        $('#datetimepicker1').datetimepicker({
            language: 'pt-BR'
        });
    });
</script>

<div id="ModalAccessEvent" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Create Facebook Event</h3>
  </div>
  <div class="modal-body">
    <p>Are you sure to create Event on Facebook fan Page? Ignore if already have access. </p>

    <%= check_box_tag :post_on_time_line %> Post On My Time Line
    <%= check_box_tag :post_on_groups %> Post In My Groups
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <a href="<%= @auth_url %>" target="_blank">
      <button class="btn btn-primary">Confirm</button>
    </a>
  </div>
</div>
