<%= semantic_form_for @gig, :html => {multipart: true} do |f| %>

    <p>
      <%= f.label :artist_ids, "Artist Name" %>
      <%= f.select :artist_ids, options_for_select(Artist.by_user_id(current_user.id).collect { |ar| [ar.profile.name, ar.id] }) %>
    </p>

    <p>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label :url %>
      <%= f.text_field :url %>
    </p>

    <div id="datetimepicker1" class="input-append date">
      <p>
        <%= f.label :starts_at %>
        <%= f.text_field :starts_at, :'data-format' => 'dd/MM/yyyy hh:mm:ss' %>
        <span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
      </p>
    </div>

    <p>
      ADMISSION
      <%= f.label :free_entry %>
      <%= f.check_box :free_entry, :checked => @gig.gig_is_free? ? true : false %>  <br>
    </p>

    <%= render :partial => 'gigs/schedule_post', :locals => {:f => f} %>
    <%= render :partial => 'venues/form', :locals => {:f => f} %>

    <%= f.hidden_field :creator_id, :value => current_user.id rescue nil %>
    <%= f.hidden_field :post_on_time_line %>
    <%= f.hidden_field :post_in_groups %>
    <div class="form-actions">
      <a href="#ModalAccessEvent" role="button" class="btn ModalAccessEvent" data-toggle="modal">Allow Create
        Event</a>
      <%= f.submit nil, :class => 'btn btn-primary' %>
    </div>
<% end %>

<%= render :partial => 'gigs/modal_access_event' %>


<script type="text/javascript">
    $(function () {
        $('#post_on_time_line').mousedown(function () {
            if (!$(this).is(':checked')) {
                this.checked = confirm("Are you sure?");
                $(this).trigger("change");
                if ($(this).is(':checked')) {
                    $('#gig_post_on_time_line').val(1);
                }
            }
            else {
                $('#gig_post_on_time_line').val(0);
            }
        });
    });

    $(document).ready(function () {
        if ($('#gig_post_on_time_line').val == "1") {
            $("#post_on_time_line").prop("checked", true);
        }
    });

    $(function () {
        $('#datetimepicker1').datetimepicker({
            language: 'pt-BR'
        });
    });
</script>

