<div class="gig_content">
  <%= semantic_form_for @gig, :html => {:class => 'form-horizontal', multipart: true} do |f| %>
      <div class="gig-content-left">
        <div class="control-group">
          ARTIST
          NAME <%= f.select :artist_id, options_for_select(Artist.by_user_id(current_user.id).collect { |ar| [ar.profile.name, ar.id] }) %>
        </div>
        <div class="control-group">
          EVENT NAME <%= f.text_field :name %>
        </div>

        <div class="control-group">
          <%= fields_for @venue do |fv| %>
              VENUE NAME <%= fv.text_field :address %>
              <%= fv.hidden_field :country_id %>
              <%= fv.hidden_field :profile_id, :value => current_user.user_profile.id rescue nil %>
          <% end %>
        </div>

        <div class="control-group">
          WEBSITE <%= f.text_field :website_url %>
        </div>
        <div class="control-group">
          EXTRA INFO <%= f.text_area :extra_info, :size => '25x10' %>
        </div>

        <div class="publish-div">
          <%= fields_for @schedule_post do |sp| %>
              <div>
                <p style="font-size: 14px; font-weight: bold;"> Post To </p>
                <%= sp.check_box :post_facebook %> Facebook
                <%= sp.check_box :post_twitter %> Twitter <br>
              </div>
              <div class="time-schedule">
                <p style="font-size: 14px; font-weight: bold;"> Make a Post : </p>
                <%= sp.check_box :post_immediately %> immediately <br>
                <%= sp.check_box :post_a_week_before %> a week before <br>
                <%= sp.check_box :post_a_day_before %> a day before <br>
                <%= sp.check_box :post_the_day_off %> the day off <br>
              </div>
          <% end %>
        </div>
      </div>

      <div class="gig-content-right">
        <div class="control-group google-map-top">
          DATE
          <%= f.text_field :starts_at, :class => 'datetimepicker', :value => Time.zone.now, :'date-format' => "yy-mm-dd DD", :'data-disable-past-date' => "true" %>
        </div>

        <div class="control-group google-map-top">
          ADMISSION
          <div class="pricing">
            Free Entry <%= f.check_box :free_entry, :checked => @gig.gig_is_free? ? true : false %>  <br>
            Other: <%= f.text_field :others %>
          </div>
        </div>


        <div class="control-group">
          <%= fields_for @venue do |fv| %>
              <%= fv.gmap_coordinate_picker :default_coordinates => @venue.default_coordinates.nil? ? user_coordinates_from_ip : @venue.default_coordinates %>
          <% end %>
        </div>
      </div>
      <%= f.hidden_field :user_id, :value => current_user.id rescue nil %>
      <div class="form-actions">
        <%= f.submit nil, :class => 'btn btn-primary' %>
      </div>
  <% end %>
</div>
