<%= semantic_form_for @gig, :html => {class: "form-horizontal", multipart: true} do |f| %>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span5">
          <div class="control-group">
            <%= f.label :artist_ids, "Artist Name", :class => "control-label" %>
            <div class="controls">
              <%= f.select :artist_ids, options_for_select(Artist.by_user_id(current_user.id).collect { |ar| [ar.profile.name, ar.id] }) %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :title, :class => "control-label" %>
            <div class="controls">
              <%= f.text_field :title %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :url, :class => "control-label" %>
            <div class="controls">
              <%= f.text_field :url %>
            </div>
          </div>


          <div id="datetimepicker1" class="input-append date">
            <div class="control-group">
              <%= f.label :starts_at, :class => "control-label" %>
              <div class="controls">
                <%= f.text_field :starts_at, :'data-format' => 'dd/MM/yyyy hh:mm:ss' %>
                <span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
              </div>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :free_entry, :class => "control-label" %>
            <div class="controls">
              <%= f.check_box :free_entry, :checked => @gig.gig_is_free? ? true : false %>
            </div>
          </div>

          <%= render :partial => 'gigs/schedule_post', :locals => {:f => f} %>
        </div>

        <div class="span7">
          <%= render :partial => 'venues/form', :locals => {:f => f} %>
        </div>
      </div>
    </div>
    <%= f.hidden_field :selected_venue_id %>
    <%= f.hidden_field :creator_id, :value => current_user.id rescue nil %>
    <%= f.hidden_field :post_on_time_line %>
    <%= f.hidden_field :post_in_groups %>
    <div class="form-actions">
      <a href="#ModalAccessEvent" role="button" class="btn ModalAccessEvent" data-toggle="modal">Allow Create
        Event</a>
      <%= f.submit nil, :class => 'btn btn-primary' %>
    </div>
<% end %>

<%= render :partial => 'gigs/modal_access_event' %>


<script type="text/javascript">
    $(function () {
        $('#post_on_time_line').mousedown(function () {
            if (!$(this).is(':checked')) {
                this.checked = confirm("Are you sure?");
                $(this).trigger("change");
                if ($(this).is(':checked')) {
                    $('#gig_post_on_time_line').val(1);
                }
            }
            else {
                $('#gig_post_on_time_line').val(0);
            }
        });
    });

    $(document).ready(function () {
        if ($('#gig_post_on_time_line').val == "1") {
            $("#post_on_time_line").prop("checked", true);
        }
    });

    $(function () {
        $('#datetimepicker1').datetimepicker({
            language: 'pt-BR'
        });
    });
</script>

