<%= f.fields_for :schedule_post do |sp| %>
    <div class="control-group">
      <label class="control-label">Post To</label>

      <div class="controls">
        <label class="checkbox">
          <%= sp.check_box :post_facebook %> Facebook
        </label>
      </div>

      <div class="controls">
        <label class="checkbox">
          <%= sp.check_box :post_twitter %> Twitter
        </label>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Make a Post</label>

      <div class="controls">
        <label class="checkbox">
          <%= sp.check_box :post_immediately %> immediately
        </label>
      </div>

      <div class="controls">
        <label class="checkbox">
          <%= sp.check_box :post_a_week_before %> a week before
        </label>
      </div>

      <div class="controls">
        <label class="checkbox">
          <%= sp.check_box :post_a_day_before %> a day before
        </label>
      </div>

      <div class="controls">
        <label class="checkbox">
          <%= sp.check_box :post_the_day_off %> the day off
        </label>
      </div>
    </div>
<% end %>
