<h1>Gigs</h1>

<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>Title</th>
    <th>Venue</th>
    <th>Created</th>
    <th>Starts</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @gigs.each do |gig| %>
      <tr>
        <td><%= gig.title %></td>
        <td><%= gig.try(:venue).try(:name) %></td>
        <td><%= gig.created_at %></td>
        <td><%= gig.starts_at %></td>
        <td>
          <%= link_to 'Show', gig, :class => "btn btn-mini btn-info" %>

          <% if can? :update, gig %>
              <%= link_to 'Edit', edit_gig_path(gig), :class => "btn btn-mini btn-primary" %>
          <% end %>
          <% if can? :destroy, gig %>
              <%= link_to 'Destroy', gig, method: :delete, data: {confirm: 'Are you sure?'}, :class => "btn btn-mini btn-danger" %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<br/>

<%= link_to 'New Gig', new_gig_path, :class => "btn btn-small btn-primary" if current_user.present? %>
