<h1><%= @gig.title %></h1>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6">
      <dl class="dl-horizontal">
        <dt>Artist Name</dt>
        <dd class="controls-row">
          <% @gig.artists.each do |artist| %>
              <%= artist.try(:profile).try(:name) %>
          <% end %>
        </dd>

        <dt>Event Name</dt>
        <dd class="controls-row"><%= @gig.title %></dd>

        <dt>Venue Name</dt>
        <dd class="controls-row"><%= @gig.try(:venue).try(:name) %></dd>

        <dt>Website</dt>
        <dd class="controls-row"><%= @gig.url %></dd>

        <dt>Publish History</dt>
        <dd class="controls-row">
          <% @gig.publish_histories.each do |publish_history| %>
              <%= @gig.title %> published on <%= publish_history.provider %>
              at <%= publish_history.posted_at.strftime("%d %b %Y %H:%M:%S") %> <br>
          <% end %>
        </dd>

        <dt>Start Date</dt>
        <dd class="controls-row"><%= @gig.starts_at.strftime("%d %b %Y %H:%M:%S") %></dd>

        <dt>Free Entry</dt>
        <dd class="controls-row"><%= @gig.gig_is_free? ? "Yes" : "No" %></dd>

      </dl>
    </div>

    <div class="span6">
      <%= render_gmap_coordinate_picker :default_coordinates => @gig.try(:venue).try(:default_coordinates).nil? ? [23.7231, 90.4086] : @gig.venue.default_coordinates %>
    </div>

  </div>
</div>
