<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>GigPoint For Musicians</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag :application %>
  <%= javascript_include_tag :application %>
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="/">
      <span id='app_name'>
      <span id="first">Gig</span>
      <span id="second">Point</span>
      <span id="title_seperator">|</span>
      <span id="sub_title">For Musicians</span>
      </span>
      </a>

      <div class="nav-collapse collapse">
        <p class="navbar-text pull-right">
          <%= link_to admin_root_path, :target => "_blank", :style => "margin-left:30px;" do %>
              <i class="icon-cog icon-white"></i>
          <% end %>
        </p>
        <ul class="nav">
          <li><%= link_to "Gigs", gigs_url %></li>
          <li><%= link_to "Artist", artists_url %></li>
          <% if current_user.present? %>
              <li class="dropdown" style="margin-left: 570px;">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <%= current_user.name %>
                  <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'My Profile', current_user %></li>
                  <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
                </ul>
              </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <% if action_name == 'home' %>
      <div class="hero-unit">
        <h1>Hello, world!</h1>

        <p>This is a template for a simple marketing or informational website. It includes a large callout called the
          hero
          unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <% unless current_user %>
            <p><%= link_to "Login With Facebook", user_omniauth_authorize_path(:facebook), :class => "btn btn-primary btn-large" %></p>
        <% end %>
      </div>
  <% end %>

  <div class="row">
    <%= bootstrap_flash %>
    <%= yield %>
  </div>
  <hr/>

  <div class="modal fade" id="myModal"></div>

  <footer>
    <p>&copy; Company 2013</p>
  </footer>

</div>

<%= yield :scripts %>
</body>
</html>
